# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
natives
.minecraft/saves
.minecraft/.mixin.out
.minecraft/.fabric
.minecraft/logs
.minecraft/crashreport
.minecraft/coremods
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/options.txt
.minecraft/realms_persistance.json
.minecraft/crash-reports/*
.minecraft/config/NetherTeleports/players/*.json
.minecraft/shaderpacks/*.zip
*.zip


# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.minecraft/usercache.json
